.project-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.current-projects,
.completed-projects {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 50%;
    height: 50%;
    gap: 5px;
    overflow-y: auto;
}

.current-projects-h2,
.completed-projects-h2 {
    border-bottom: 1px solid #fcfcfc;
}

.project-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #fcfcfc;
    flex: 0 1 25px;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.project-left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex: 1;
}

.project-right {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

