{% extends "layout.njk" %}

{% block content %}
    <div>
        <p>About</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ex iusto repudiandae ipsam dolore. Quae dolore exercitationem magnam omnis reiciendis facere ullam rem, quod eaque iure sit aspernatur voluptatibus? Ullam!</p>
    </div>
     <div>
        <p>Blog</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor vitae, fugit eos maiores minima perferendis repudiandae iste! Iure debitis iusto accusamus aperiam quo, repellendus corporis quis exercitationem voluptatum. Eaque, perspiciatis!</p>
    </div>
{% endblock %}