<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" href="/assets/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="max-w-[60ch] mx-auto w-full space-y-6 px-10 py-5">
    <nav class="flex w-full">
            <div class="flex justify-between w-full">
                <div class="flex flex-1 items-center">
                    <a href="/">Joshua Cowell</a>
                </div>
                <div class="flex flex-1 justify-end gap-5 w-24 h-24">
                    <img src="/assets/logo.png" alt="A logo of the initials JC" class="object-contain">
                </div>
            </div>
        </nav>
    <main class="flex flex-col gap-5">
        {% block content %}{% endblock %}
    </main>
</body>
</html>