<div class="flex justify-center gap-10">
    <a href="https://github.com/redcowe" target="_blank">
        <%= inline_svg_tag "socials/github.svg"%>
    </a>
    <a href="https://www.linkedin.com/in/joshuacowell/" target="_blank">
        <%= inline_svg_tag "socials/linkedin.svg"%>
    </a>
    <a href="mailto:email@example.com">
        <%= inline_svg_tag "socials/email.svg"%>
    </a>
</div>
