<div class="flex justify-center items-center gap-3 pt-32">
    <div class="flex-col flex-1 border-r-2 border-r-gray h-full justify-between">
        <p class="flex flex-1 h-1/2 justify-center items-center">Josh Cowell</p>
        <div class="flex bg-whiteish bg- flex-1 h-1/2 justify-center items-center">
            Software Engineer
        </div>
    </div>
    <div class="flex flex-1">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor augue in eros finibus ullamcorper. Donec bibendum sapien neque, vel viverra quam placerat ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sem diam, luctus a massa eget, vestibulum porta augue. Nunc dictum lectus ut commodo hendrerit. Morbi justo lacus, eleifend sed ante non, fringilla tincidunt urna. Nunc sodales eros id consectetur tincidunt. Praesent pharetra sollicitudin erat ac lacinia. Aenean ut malesuada metus, vel pharetra enim. Morbi tempor mi a elit volutpat consequat.
        </p>
    </div>
</div>
